#### –î–º–∏—Ç—Ä–∏–π, –ø—Ä–∏–≤–µ—Ç! 

–ú–µ–Ω—è –∑–æ–≤—É—Ç –ú–∞–∫—Å–∏–º –ü–æ–ø–æ–≤, –∏ —è –±—É–¥—É –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç. –î–∞–≤–∞–π –±—É–¥–µ–º –æ–±—â–∞—Ç—å—Å—è –Ω–∞ ¬´—Ç—ã¬ª. –ù–æ –µ—Å–ª–∏ —Ç–µ–±–µ –∫–æ–º—Ñ–æ—Ä—Ç–Ω–µ–µ –Ω–∞ ¬´–≤—ã¬ª, –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ —Å–æ–æ–±—â–∏ –º–Ω–µ –æ–± —ç—Ç–æ–º. 
–ü–æ —Ö–æ–¥—É —Ç–µ—Ç—Ä–∞–¥–∫–∏ —Ç—ã –Ω–∞–π–¥–µ—à—å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∫ –ø—Ä–æ–µ–∫—Ç—É, –æ–Ω–∏ –±—É–¥—É—Ç –≤ –æ—Ç–¥–µ–ª—å–Ω—ã—Ö —è—á–µ–π–∫–∞—Ö Markdown —Å –∑–∞–≥–æ–ª–æ–≤–∫–æ–º ¬´–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞¬ª. –ü–æ—Å—Ç–∞—Ä–∞–π—Å—è —É—á–µ—Å—Ç—å —ç—Ç–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–∏—Ö –ø—Ä–æ–µ–∫—Ç–æ–≤.

---

–Ø –±—É–¥—É –æ—Ç–º–µ—á–∞—Ç—å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Ü–≤–µ—Ç–æ–º –∏ –ø—Ä–∏–º–µ—á–∞–Ω–∏–µ–º. –í –∫–æ–Ω—Ü–µ –∑–∞–≥–æ–ª–æ–≤–∫–∞ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è –±—É–¥–µ—Ç —É–∫–∞–∑–∞–Ω –Ω–æ–º–µ—Ä –∏—Ç–µ—Ä–∞—Ü–∏–∏ –ø—Ä–æ–≤–µ—Ä–∫–∏. –ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ —É–¥–∞–ª—è–π –∏ –Ω–µ –ø—Ä–∞–≤—å –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏

–ö—Ä–∏—Ç–∏—á–Ω–æ - —Ç—Ä–µ–±—É–µ—Ç –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è, –≤–ª–∏—è–µ—Ç –Ω–∞ —É–¥–∞—á–Ω–æ–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è - –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —è–≤–ª—è–µ—Ç—Å—è —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–µ–π –∏–ª–∏ —Å–æ–≤–µ—Ç–æ–º. M–æ–∂–µ—à—å —É—á–µ—Å—Ç—å –∏—Ö –ø—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ –±—É–¥—É—â–∏—Ö –∑–∞–¥–∞–Ω–∏–π. –ù–∞ —Ç–≤–æ–µ —É—Å–º–æ—Ç—Ä–µ–Ω–∏–µ

–û—Ç–ª–∏—á–Ω–æ - –¢–∞–∫ –æ—Ç–º–µ—á–µ–Ω—ã —É–¥–∞—á–Ω—ã–µ —Ä–µ—à–µ–Ω–∏—è –∏ –ø–æ–¥—Ö–æ–¥—ã, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ —Å—Ç–æ–∏—Ç –æ–ø–∏—Ä–∞—Ç—å—Å—è –≤ –±—É–¥—É—â–∏—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö


---
<div class="alert alert-block alert-danger">
    

### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞
–ö—Ä–∏—Ç–∏—á–Ω–æ

–¢–∞–∫–æ–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –Ω—É–∂–Ω–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ, –æ–Ω –∫—Ä–∏—Ç–∏—á–µ—Å–∫–∏ –≤–ª–∏—è–µ—Ç –Ω–∞ —É–¥–∞—á–Ω–æ–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞.
</div>
    
---

<div class="alert alert-block alert-warning">
    

### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞
–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è

–¢–∞–∫–æ–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —è–≤–ª—è–µ—Ç—Å—è —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–µ–π –∏–ª–∏ —Å–æ–≤–µ—Ç–æ–º. M–æ–∂–µ—à—å —É—á–µ—Å—Ç—å –∏—Ö –ø—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ –±—É–¥—É—â–∏—Ö –∑–∞–¥–∞–Ω–∏–π. –ù–∞ —Ç–≤–æ–µ —É—Å–º–æ—Ç—Ä–µ–Ω–∏–µ. 
</div>

---

<div class="alert alert-block alert-success">
    

### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞
–û—Ç–ª–∏—á–Ω–æ
    
–¢–∞–∫ –æ—Ç–º–µ—á–µ–Ω—ã —É–¥–∞—á–Ω—ã–µ —Ä–µ—à–µ–Ω–∏—è –∏ –ø–æ–¥—Ö–æ–¥—ã, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ —Å—Ç–æ–∏—Ç –æ–ø–∏—Ä–∞—Ç—å—Å—è –≤ –±—É–¥—É—â–∏—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö
</div>


–ñ–µ–ª–∞—Ç–µ–ª—å–Ω–æ —Ä–µ–∞–≥–∏—Ä–æ–≤–∞—Ç—å –Ω–∞ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ ('–∏—Å–ø—Ä–∞–≤–ª–µ–Ω–æ', '–Ω–µ –ø–æ–Ω—è—Ç–Ω–æ –∫–∞–∫ –∏—Å–ø—Ä–∞–≤–∏—Ç—å –æ—à–∏–±–∫—É' –∏ —Ç.–ø.) - —Ç–∞–∫ –º—ã —Å–º–æ–∂–µ–º –±–æ–ª–µ–µ —ç—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω–æ –ø–æ—Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ —ç—Ç–∏–º –ø—Ä–æ–µ–∫—Ç–æ–º.

---

–ë—É–¥–µ—Ç –∑–¥–æ—Ä–æ–≤–æ, –µ—Å–ª–∏ —Ç—ã –±—É–¥–µ—à—å –ø–æ–º–µ—á–∞—Ç—å —Å–≤–æ–∏ –¥–µ–π—Å—Ç–≤–∏—è —Å–ª–µ–¥—É—é—â–∏–º –æ–±—Ä–∞–∑–æ–º:



<div class="alert alert-block alert-info">

### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:

</div>

<div class="alert alert-block alert-success">
    

### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ v_1
    
–î–º–∏—Ç—Ä–∏–π, —Ç—ã –æ—Ç–ª–∏—á–Ω–æ —Å–ø—Ä–∞–≤–ª—è–µ—à—å—Å—è —Å –∑–∞–ø—Ä–æ—Å–∞–º–∏, –æ—à–∏–±–∫–∞, –∫–æ—Ç–æ—Ä—É—é –Ω–∞—à–µ–ª, –Ω–µ–æ—á–µ–≤–∏–¥–Ω–∞.
    
–û–±—Ä–∞—â—É —Ç–≤–æ–µ –≤–Ω–∏–º–∞–Ω–∏–µ –Ω–∞ —Å–ª–µ–¥—É—é—â–∏–µ –º–æ–º–µ–Ω—Ç—ã:
    
 - –£ —Ç–µ–±—è –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ —á–∏—Å—Ç—ã–π –∫–æ–¥, –Ω–æ –Ω–µ —Å–æ–±–ª—é–¥–∞–µ—à—å –æ—Ç—Å—Ç—É–ø—ã, —Ä–µ–∫–æ–º–µ–Ω–¥—É—é –æ–∑–Ω–∞–∫–æ–º–∏—Ç—å—Å—è —Å –æ–±—â–µ–ø—Ä–∏–Ω—è—Ç—ã–º —Å—Ç–∏–ª–µ–º
    
https://www.sqlstyle.guide/ru/

- –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –∑–∞–≤–æ—Ä–∞—á–∏–≤–∞–µ—à—å –ø–æ–¥–∑–∞–ø—Ä–æ—Å—ã –≤ CTE. –¢–∞–∫ –Ω–∞–º–Ω–æ–≥–æ –ø—Ä–æ—â–µ –∏ —á–∏—Ç–∞—Ç—å, –∏ –ø–∏—Å–∞—Ç—å –∫–æ–¥.
    
    
–ï—Å–ª–∏ –≤–æ–∑–Ω–∏–∫–Ω—É—Ç –≤–æ–ø—Ä–æ—Å—ã –∫–æ –º–Ω–µ, –º–æ–∂–µ—à—å –æ—Å—Ç–∞–≤–∏—Ç—å –∏—Ö –≤ –æ—Ç–¥–µ–ª—å–Ω–æ–º –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏. –ê —Ç–∞–∫–∂–µ –ø–∏—à–∏, –µ—Å–ª–∏ –µ—Å—Ç—å –∂–µ–ª–∞–Ω–∏–µ –¥–µ—Ç–∞–ª—å–Ω–µ–µ –ø–æ–∑–Ω–∞–∫–æ–º–∏—Ç—å—Å—è —Å SQL, –ø–æ–¥–µ–ª—é—Å—å –ø–æ–ª–µ–∑–Ω—ã–º–∏ –º–∞—Ç–µ—Ä–∏–∞–ª–∞–º–∏.
        
</div>

<div class="alert alert-block alert-info">

### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞: –ø—Ä–∏–≤–µ—Ç!–°–ø–∞—Å–∏–±–æ –∑–∞ —Å—Å—ã–ª–∫—É, –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –ø–æ—Å–º–æ—Ç—Ä—é. –° sql —É –º–µ–Ω—è —Ç–æ—á–Ω–æ –µ—Å—Ç—å –ø—Ä–æ–±–µ–ª—ã –∏ –ø–æ—Å–ª–µ –æ—Å–Ω–æ–≤–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è —è –±—ã —Ö–æ—Ç–µ–ª –∑–∞–Ω—è—Ç—å—Å—è –∏–º –ø–ª–æ—Ç–Ω–µ–µ, –ø–æ—ç—Ç–æ–º—É –±—É–¥—É —Ä–∞–¥ –ª—é–±—ã–º —Å—Å—ã–ª–∫–∞ –∏ –º–µ—Ç–µ—Ä–∏–∞–ª–∞–º.

</div>

<div class="alert alert-block alert-success">
 

### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ v_2
    
–î–º–∏—Ç—Ä–∏–π, –ø—Ä–∏–≤–µ—Ç!
    
–û—Ç–ª–∏—á–Ω–æ, –≤—Å–µ –∫—Ä–∏—Ç–∏—á–Ω—ã–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ—Ç—Ä–∞–±–æ—Ç–∞–Ω—ã!
    
–£ —Ç–µ–±—è –ø–æ–ª—É—á–∏–ª—Å—è –æ—Ç–ª–∏—á–Ω—ã–π –ø—Ä–æ–µ–∫—Ç, —É—Å–ø–µ—Ö–∞ –≤ –ø–æ–∏—Å–∫–µ —Ä–∞–±–æ—Ç—ã!
    
–î–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∏–∑—É—á–µ–Ω–∏—è —Ä–µ–∫–æ–º–µ–Ω–¥—É—é —Å–ª–µ–¥—É—é—â–∏–µ —Ä–µ—Å—É—Ä—Å—ã:
    
1. https://datalearn.ru/kurs-po-sql 
    
–°—Ä–∞–∑—É –ø–µ—Ä–µ—Ö–æ–¥–∏ –∫ –æ–∫–æ–Ω–∫–∞–º –∏ MS SQL Server, —Ç–∞–º –º–Ω–æ–≥–æ –ø–æ–ª–µ–∑–Ω–æ–π –∏–Ω—Ñ—ã –±—É–¥–µ—Ç —É–∂–µ –ø—Ä–æ —Å–æ–∑–¥–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü, —Ö—Ä–∞–Ω–∏–º—ã–µ –ø—Ä–æ—Ü–µ–¥—É—Ä—ã –∏ —Ç. –ø. 
    
2. https://stepik.org/course/3203/promo (—ç—Ç–æ —É–∂–µ –µ—Å–ª–∏ —Ö–æ—á–µ—Ç—Å—è –∏–∑—É—á–∏—Ç—å –ø–æ–≥–ª—É–±–∂–µ)
    
–¢—É—Ç —É–∂–µ –ø—Ä–æ —Ç–æ, —á—Ç–æ –ø–æ–¥ –∫–∞–ø–æ—Ç–æ–º SQL (–±—ã–ª–æ –±—ã –Ω–µ–ø–ª–æ—Ö–æ –æ—Ä–∏–µ–Ω—Ç–∏—Ä–æ–≤–∞—Ç—å—Å—è –≤ –∞–ª–≥–æ—Ä–∏—Ç–º–∞—Ö –¥–ª—è –ø—Ä–æ—Ö–æ–∂–¥–µ–Ω–∏—è, –æ—á–µ–Ω—å —Ä–µ–∫–æ–º–µ–Ω–¥—É—é –∫–Ω–∏–≥—É "–ì—Ä–æ–∫–∞–µ–º –∞–ª–≥–æ—Ä–∏—Ç–º—ã", —á—Ç–æ–±—ã –∏–∑—É—á–∏—Ç—å –æ—Å–Ω–æ–≤—ã, –≤–¥–æ—Ö–Ω–æ–≤–∏—Ç—å—Å—è –∏ –ø–æ–Ω—è—Ç—å, —á—Ç–æ –∞–ª–≥–æ—Ä–∏—Ç–º—ã - —ç—Ç–æ –Ω–µ —Å–ª–æ–∂–Ω–æ, –∞ —É–≤–ª–µ–∫–∞—Ç–µ–ª—å–Ω–æ –∏ –∫—Ä–∞—Å–∏–≤–æ)
        
</div>

# –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞ –¥–ª—è —Å–µ—Ä–≤–∏—Å–∞ —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ
---

## –ê–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö –æ –∫–Ω–∏–≥–∞—Ö

–ü–æ—Å–ª–µ –ø–æ–∫—É–ø–∫–∏ –Ω–∞—à–µ–π –∫–æ–º–ø–∞–Ω–∏–µ–π —Å–µ—Ä–≤–∏—Å–∞ —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –∏–º–µ—é—â–∏–µ—Å—è –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –∫–Ω–∏–≥, —á—Ç–æ–±—ã —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

**–¶–µ–ª—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è:** –Ω–∞ –æ—Å–Ω–æ–≤–µ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö —Å—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏—è –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

**–ó–∞–¥–∞—á–∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è:**
1. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
2. –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;
3. –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;
4. –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
5. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

–í –Ω–∞–ª–∏—á–∏–∏ –µ—Å—Ç—å —Å–ª–µ–¥—É—é—â–∏–µ –¥–∞–Ω–Ω—ã–µ:

**–ò—Å—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ:**
–¢–∞–±–ª–∏—Ü–∞ `books` —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö.

**–ü–æ–ª—è —Ç–∞–±–ª–∏—Ü—ã:**
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

–¢–∞–±–ª–∏—Ü–∞ `authors` —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö.

**–ü–æ–ª—è —Ç–∞–±–ª–∏—Ü—ã:**
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

–¢–∞–±–ª–∏—Ü–∞ `publishers` —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö.

**–ü–æ–ª—è —Ç–∞–±–ª–∏—Ü—ã:**
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞.

–¢–∞–±–ª–∏—Ü–∞ `ratings` —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥.

**–ü–æ–ª—è —Ç–∞–±–ª–∏—Ü—ã:**
- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

–¢–∞–±–ª–∏—Ü–∞ `reviews` —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏.

**–ü–æ–ª—è —Ç–∞–±–ª–∏—Ü—ã:**
- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

–¢–∞–±–ª–∏—Ü—ã –≤–∑–∞–∏–º–æ—Å–≤—è–∑–∞–Ω—ã —Å–ª–µ–¥—É—é—â–∏–º –æ–±—Ä–∞–∑–æ–º:
![image.png](attachment:image.png)

# –°–æ–¥–µ—Ä–∂–∞–Ω–∏–µ
0. [–ó–∞–≥—Ä—É–∑–∫–∞ –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã—Ö –±–∏–±–ª–∏–æ—Ç–µ–∫](#libs)
1. [–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö](#connect)
2. [–ó–Ω–∞–∫–æ–º—Å—Ç–≤–æ —Å –¥–∞–Ω–Ω—ã–º–∏](#view)
3. [–†–∞—Å—á–µ—Ç—ã](#count)
  - 3.1 [–û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∫–æ–ª-–≤–∞ –∫–Ω–∏–≥, –≤—ã—à–µ–¥—à–∏—Ö –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞](#count1)
  - 3.2 [–û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∫–æ–ª-–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–∏ –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏](#count2)
  - 3.3 [–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º –∫–æ–ª-–≤–æ–º –≤—ã–ø—É—â–µ–Ω–Ω—ã—Ö –±–æ–ª—å—à–∏—Ö –∫–Ω–∏–≥](#count3)
  - 3.4 [–û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π](#count4)
  - 3.5 [–†–∞—Å—á–µ—Ç —Å—Ä–µ–¥–Ω–µ–≥–æ –∫–æ–ª-–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –ø–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º](#count5)
4. [–í—ã–≤–æ–¥—ã](#result)

# 0. –ó–∞–≥—Ä—É–∑–∫–∞ –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã—Ö –±–∏–±–ª–∏–æ—Ç–µ–∫ <a name="libs"></a>

–ó–∞–≥—Ä—É–∑–∏–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –≤ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–∏.

In [3]:
#–∑–∞–≥—Ä—É–∑–∫–∞ –±–∏–±–ª–∏–æ—Ç–µ–∫
import pandas as pd
from IPython.display import display
from sqlalchemy import create_engine

# 1. –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö <a name="connect"></a>

–ù–∞—Å—Ç—Ä–æ–∏–º –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –ë–î.

In [4]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
 'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
 'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
 'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
 'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])

# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

# 2. –ó–Ω–∞–∫–æ–º—Å—Ç–≤–æ —Å –¥–∞–Ω–Ω—ã–º–∏ <a name="view"></a>

–ó–∞–≥—Ä—É–∑–∏–º –¥–∞–Ω–Ω—ã–µ –∏–∑ –ë–î –∏ –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –∏—Ö —Å—Ç—Ä—É–∫—Ç—É—Ä—É.

In [5]:
#—Å–¥–µ–ª–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –∑–∞–≥—Ä—É–∑–∫–∏ –¥–∞–Ω–Ω—ã—Ö
def data_load(table_name):
    '''–§—É–Ω–∫—Ü–∏—è –ø–æ–ª—É—á–∞–µ—Ç –Ω–∞–∑–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã, –∏–∑ –∫–æ—Ç–æ—Ä–æ–π –±–µ—Ä—É—Ç—Å—è –¥–∞–Ω–Ω—ã–µ, –∏ –∑–∞–≥—Ä—É–∂–∞–µ—Ç —ç—Ç–∏ –¥–∞–Ω–Ω—ã–µ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º'''
    query = '''SELECT * FROM ''' + table_name 
                
    
    data =  pd.io.sql.read_sql(query, con = engine)
    
    return data

In [6]:
#–∑–∞–≥—Ä—É–∑–∏–º –¥–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü—ã
books = data_load('books')
authors = data_load('authors')
publishers = data_load('publishers')
ratings = data_load('ratings')
reviews = data_load('reviews')

In [7]:
#–≤—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ —Ç–∞–±–ª–∏—Ü
display(books.head(10))
display(authors.head(10))
display(publishers.head(10))
display(ratings.head(10))
display(reviews.head(10))

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268
5,6,257,1st to Die (Women's Murder Club #1),424,2005-05-20,116
6,7,258,2nd Chance (Women's Murder Club #2),400,2005-05-20,116
7,8,260,4th of July (Women's Murder Club #4),448,2006-06-01,318
8,9,563,A Beautiful Mind,461,2002-02-04,104
9,10,445,A Bend in the Road,341,2005-04-01,116

   author_id                                author
0          1                            A.S. Byatt
1          2        Aesop/Laura Harris/Laura Gibbs
2          3                       Agatha Christie
3          4                         Alan Brennert
4          5              Alan Moore/David   Lloyd
5          6                            Alan Paton
6          7           Albert Camus/Justin O'Brien
7          8                         Aldous Huxley
8          9    Aldous Huxley/Christopher Hitchens
9         10  Aleksandr Solzhenitsyn/H.T. Willetts

   publisher_id                                publisher
0             1                                      Ace
1             2                                 Ace Book
2             3                                Ace Books
3             4                            Ace Hardcover
4             5        Addison Wesley Publishing Company
5             6                                  Aladdin
6             7                       Aladdin Paperbacks
7             8                             Albin Michel
8             9                          Alfred A. Knopf
9            10  Alfred A. Knopf Books for Young Readers

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2
5          6        3  johnsonamanda       4
6          7        3    scotttamara       5
7          8        3    lesliegibbs       5
8          9        4    abbottjames       5
9         10        4   valenciaanne       4

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...
5,6,3,lesliegibbs,Analysis no several cause international.
6,7,4,valenciaanne,One there cost another. Say type save. With pe...
7,8,4,abbottjames,Within enough mother. There at system full rec...
8,9,5,npowers,Thank now focus realize economy focus fly. Ite...
9,10,5,staylor,Game push lot reduce where remember. Including...

<div class="alert alert-block alert-success">
    

### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞
–û—Ç–ª–∏—á–Ω–æ
    
–î–æ—Å—Ç—É–ø –∫ –±–∞–∑–µ –ø–æ–ª—É—á–∏–ª–∏, –Ω–∞ —Ç–∞–±–ª–∏—Ü—ã –ø–æ—Å–º–æ—Ç—Ä–µ–ª–∏, –ø–µ—Ä–µ—Ö–æ–¥–∏–º –∫ –æ—Å–Ω–æ–≤–Ω–æ–π —Ä–∞–±–æ—Ç–µ
    
</div>

# 3. –†–∞—Å—á–µ—Ç—ã <a name="count"></a>

## 3.1 –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∫–æ–ª-–≤–∞ –∫–Ω–∏–≥, –≤—ã—à–µ–¥—à–∏—Ö –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ <a name="count1"></a>

–û–ø—Ä–µ–¥–µ–ª–∏–º, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞.

In [8]:
#–ø–∏—à–µ–º –∑–∞–ø—Ä–æ—Å
query = '''SELECT COUNT(distinct b.book_id)
        FROM books b
        where b.publication_date > cast('2000-01-01' as date)'''

In [9]:
#–≤—ã–ø–æ–ª–Ω—è–µ–º –µ–≥–æ
pd.io.sql.read_sql(query, con = engine)

   count
0    819

<div class="alert alert-block alert-success">
 

### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ v_1

    
üëçüèª
</div>

**–í—ã–≤–æ–¥**

–í –Ω–∞—à–µ–º –¥–∞—Ç–∞—Å–µ—Ç–µ —Å –∫–Ω–∏–≥–∞–º–∏ –µ—Å—Ç—å **819** –∫–Ω–∏–≥, –∫–æ—Ç–æ—Ä—ã–µ –≤—ã—à–ª–∏ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞.

## 3.2 –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∫–æ–ª-–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–∏ –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ <a name="count2"></a>

–î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ —Ä–∞—Å—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É.

In [16]:
#–ø–∏—à–µ–º –∑–∞–ø—Ä–æ—Å
query = '''
        select  b.book_id
                ,b.title
                ,count(rw.review_id) as count_reviews --—Ä–∞—Å—á–µ—Ç –∫–æ–ª-–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –Ω–∞ –∫–Ω–∏–≥—É
                ,avg(rt.rating) as avg_rate --—Ä–∞—Å—á–µ—Ç —Å—Ä–µ–¥–Ω–µ–≥–æ —Ä–µ–π—Ç–∏–Ω–≥–∞ –∫–Ω–∏–≥–∏
        from books b
            left join ratings rt
                on b.book_id = rt.book_id
            left join reviews rw
                on b.book_id = rw.book_id
        group by b.book_id,b.title
'''

In [17]:
#–≤—ã–ø–æ–ª–Ω—è–µ–º –µ–≥–æ
books_rate_reviews = pd.io.sql.read_sql(query, con = engine)

In [19]:
#–∏–∑ –ª—é–±–æ–ø—ã—Ç—Å—Ç–≤–∞ –≤—ã–≤–µ–¥–µ–º TOP-10 –∫–Ω–∏–≥ —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º –∫–æ–ª-–≤–æ–º –æ–±–∑–æ—Ä–æ–≤
display(books_rate_reviews.sort_values(by = 'count_reviews', ascending = False).head(10))

,book_id,title,count_reviews,avg_rate
161,948,Twilight (Twilight #1),1120,3.662500
102,750,The Hobbit or There and Back Again,528,4.125000
672,673,The Catcher in the Rye,516,3.825581
651,302,Harry Potter and the Prisoner of Azkaban (Harr...,492,4.414634
747,299,Harry Potter and the Chamber of Secrets (Harry...,480,4.287500
81,75,Angels & Demons (Robert Langdon #1),420,3.678571
837,301,Harry Potter and the Order of the Phoenix (Har...,375,4.186667
587,779,The Lightning Thief (Percy Jackson and the Oly...,372,4.080645
334,722,The Fellowship of the Ring (The Lord of the Ri...,370,4.391892
909,79,Animal Farm,370,3.729730

In [20]:
#–∏–∑ –ª—é–±–æ–ø—ã—Ç—Å—Ç–≤–∞ –≤—ã–≤–µ–¥–µ–º TOP-10 –∫–Ω–∏–≥ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π —Å—Ä–µ–¥–∏ –∫–Ω–∏–≥, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –Ω–∞–ø–∏—Å–∞–ª–∏ –±–æ–ª–µ–µ 50 –æ–±–∑–æ—Ä–æ–≤
display(books_rate_reviews.query('count_reviews >= 50').sort_values(by = 'avg_rate', ascending = False).head(10))

,book_id,title,count_reviews,avg_rate
823,581,Snow Flower and the Secret Fan,55,4.636364
182,74,And Then There Were None,110,4.454545
689,284,Gone with the Wind,175,4.428571
723,422,Matilda,76,4.421053
651,302,Harry Potter and the Prisoner of Azkaban (Harr...,492,4.414634
334,722,The Fellowship of the Ring (The Lord of the Ri...,370,4.391892
786,15,A Clash of Kings (A Song of Ice and Fire #2),115,4.391304
896,830,The Poisonwood Bible,110,4.363636
747,299,Harry Potter and the Chamber of Secrets (Harry...,480,4.287500
204,862,The Sea of Monsters (Percy Jackson and the Oly...,110,4.272727

**–í—ã–≤–æ–¥**

–ë–æ–ª—å—à–µ –≤—Å–µ–≥–æ –æ–±–∑–æ—Ä–æ–≤ –±—ã–ª–æ –Ω–∞–ø–∏—Å–∞–Ω–æ –Ω–∞ "–°—É–º–µ—Ä–∫–∏" - **1120**, –ø—Ä–∏ —ç—Ç–æ–º —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ —É –¥–∞–Ω–Ω–æ–π –∫–Ω–∏–≥–∏ –≤—Å–µ–≥–æ **3.7**. –ï—Å–ª–∏ –≤–∑—è—Ç—å –∫–Ω–∏–≥–∏ –±–æ–ª–µ–µ —á–µ–º —Å **50** –æ–±–∑–æ—Ä–∞–º–∏, —Å—Ä–µ–¥–∏ –Ω–∏—Ö —Å–∞–º—É—é –≤—ã—Å–æ–∫—É—é –æ—Ü–µ–Ω–∫—É –∏–º–µ–µ—Ç –∫–Ω–∏–≥–∞ "Snow Flower and the Secret Fan" - **4.6**.

In [25]:
pd.io.sql.read_sql(query, con = engine)

,book_id,title,review_cnt,avg_rate
0,948,Twilight (Twilight #1),7,3.662500
1,696,The Da Vinci Code (Robert Langdon #2),6,3.830508
2,207,Eat Pray Love,6,3.395833
3,627,The Alchemist,6,3.789474
4,673,The Catcher in the Rye,6,3.825581
5,695,The Curious Incident of the Dog in the Night-Time,6,4.081081
6,302,Harry Potter and the Prisoner of Azkaban (Harr...,6,4.414634
7,299,Harry Potter and the Chamber of Secrets (Harry...,6,4.287500
8,497,Outlander (Outlander #1),6,4.125000
9,656,The Book Thief,6,4.264151

In [26]:
query = '''
SELECT
    books.book_id,
    books.title,
    COUNT(DISTINCT review_id) as count_reviews,
    AVG(rating) as avg_rate
FROM 
    books
INNER JOIN reviews ON  reviews.book_id = books.book_id
INNER JOIN ratings ON  ratings.book_id = books.book_id
GROUP BY
    books.book_id
ORDER BY
    review_cnt DESC
LIMIT 10
'''

In [23]:
pd.io.sql.read_sql(query, con = engine).review_cnt.sum()

61

–ë–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π –æ–±–∑–æ—Ä–æ–≤ (7) –±—ã–ª–æ –Ω–∞–ø–∏—Å–∞–Ω–æ –¥–ª—è –∫–Ω–∏–≥–∏ "–°—É–º–µ—Ä–∫–∏"

<div class="alert alert-block alert-danger">
    

    
### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ v_1
–ö—Ä–∏—Ç–∏—á–Ω–æ

–ó–¥–µ—Å—å –∑–∞–∫—Ä–∞–ª–∞—Å—å –æ—à–∏–±–∫–∞, –ø—Ä–æ–≤–µ—Ä—å —Å–∫–æ–ª—å–∫–æ —É —Ç–µ–±—è –≤—Å–µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Ç–∞–±–ª–∏—Ü–µ —Å –æ–±–∑–æ—Ä–∞–º–∏ –∏ —Å–∫–æ–ª—å–∫–æ –æ–±–∑–æ—Ä–æ–≤ –ø–æ–ª—É—á–∏–ª–æ—Å—å –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ –∑–∞–ø—Ä–æ—Å–∞
</div>

<div class="alert alert-block alert-info">

### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞: –ò—Å–ø—Ä–∞–≤–∏–ª, –ø–µ—Ä–≤—É—é –≤–µ—Ä—Å–∏—é –∫–æ–¥–∞ –ø–æ–∫–∞ –æ—Å—Ç–∞–≤–∏–ª

</div>

<div class="alert alert-block alert-success">

    
### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ v_2

üëçüèª
    
</div>

## 3.3 –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º –∫–æ–ª-–≤–æ–º –≤—ã–ø—É—â–µ–Ω–Ω—ã—Ö –±–æ–ª—å—à–∏—Ö –∫–Ω–∏–≥ <a name="count3"></a>

–û–ø—Ä–µ–¥–µ–ª–∏–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü, —á—Ç–æ–±—ã –∏—Å–∫–ª—é—á–∏—Ç—å –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã.

In [13]:
#–ø–∏—à–µ–º –∑–∞–ø—Ä–æ—Å
query = ''' 
                select 
                        p.publisher
                        ,count(b.book_id) as total_books
                from books b
                    left join publishers p
                        on b.publisher_id = p.publisher_id
                where b.num_pages > 50
                group by p.publisher
                order by total_books desc
'''

In [14]:
#–≤—ã–ø–æ–ª–Ω—è–µ–º –µ–≥–æ
pd.io.sql.read_sql(query, con = engine).head(1)

       publisher  total_books
0  Penguin Books           42

<div class="alert alert-block alert-success">
 

### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ v_1

üëçüèª
    

    
</div>

**–í—ã–≤–æ–¥**

–ù–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü –≤—ã–ø—É—Å—Ç–∏–ª–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ ***Penguin Books*** - **42** –∫–Ω–∏–≥–∏.

## 3.4 –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π <a name="count4"></a>

–û–ø—Ä–µ–¥–µ–ª–∏–º –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥, —É—á–∏—Ç—ã–≤–∞—è —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏.

In [21]:
#–ø–∏—à–µ–º –∑–∞–ø—Ä–æ—Å
query = ''' 
        --–±–µ—Ä–µ–º –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏, —Å—á–∏—Ç–∞–µ–º –∏—Ö —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥
        with t as (
        select  b.book_id
                ,count(rt.rating_id) as ratings
                ,avg(rt.rating) as avg_book_rate
        from books b
            left join ratings rt
                on b.book_id = rt.book_id
        group by b.book_id
        HAVING count(rt.rating_id) >= 50
        )
        
        --–¥–æ–±–∞–≤–ª—è–µ–º –∫ –ø—Ä–µ–¥—ã–¥—É—â–µ–π —Ç–∞–±–ª–∏—Ü–µ –∞–≤—Ç–æ—Ä–æ–≤, —Ä–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ–º —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É –∫–Ω–∏–≥ –ø–æ –∞–≤—Ç–æ—Ä—É
        select 
                a.author
                ,avg(t.avg_book_rate) as avg_author_rate  
        from t 
            left join books b
                on t.book_id = b.book_id
            left join authors a
                on b.author_id = a.author_id
        group by a.author
        order by avg_author_rate desc
'''

In [23]:
#–≤—ã–ø–æ–ª–Ω—è–µ–º –µ–≥–æ
pd.io.sql.read_sql(query, con = engine).head(1)

                       author  avg_author_rate
0  J.K. Rowling/Mary GrandPr√©         4.283844

**–í—ã–≤–æ–¥**

***J.K. Rowling/Mary GrandPr√©*** - –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (—Ä–∞–≤–Ω–æ–π **4.28**) —Å—Ä–µ–¥–∏ –∫–Ω–∏–≥ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏.

<div class="alert alert-block alert-success">
 

### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ v_1

üëçüèª
    

    
</div>

## 3.5 –†–∞—Å—á–µ—Ç —Å—Ä–µ–¥–Ω–µ–≥–æ –∫–æ–ª-–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –ø–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º <a name="count5"></a>

–ü–æ—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

In [17]:
#–ø–∏—à–µ–º –∑–∞–ø—Ä–æ—Å
query = '''
        select round(AVG(sub.total_reviews)) as avg_reviews
        from 
        (select  rw.username
                ,count(rw.review_id) total_reviews
        from reviews rw
        where rw.username in (
            --–æ—Ç–±–∏—Ä–∞–µ–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫
            select rt.username
            from ratings rt
            group by rt.username
            having count(rt.rating_id) > 50
            )
        group by rw.username) as sub
'''

In [18]:
#–≤—ã–ø–æ–ª–Ω—è–µ–º –µ–≥–æ
pd.io.sql.read_sql(query, con = engine)

   avg_reviews
0         24.0

<div class="alert alert-block alert-success">
 

### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ v_1

üëçüèª

    
</div>

**–í—ã–≤–æ–¥**

–í —Å—Ä–µ–¥–Ω–µ–º, –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫, –ø–∏—à—É—Ç **24** –æ–±–∑–æ—Ä–∞.

# 4. –í—ã–≤–æ–¥—ã <a name="result"></a>

1. **819** –∫–Ω–∏–≥ –∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞ –±—ã–ª–∏ –≤—ã–ø—É—â–µ–Ω—ã –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
2. –ö–Ω–∏–≥–∞ —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ–±–∑–æ—Ä–æ–≤ - "–°—É–º–µ—Ä–∫–∏", —Å—Ä–µ–¥–∏ –∫–Ω–∏–≥ —Å –±–æ–ª–µ–µ 50 –æ–±–∑–æ—Ä–æ–≤ —Å–∞–º—ã–π –≤—ã—Å–æ–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥ —É "Snow Flower and the Secret Fan" - **4.6**;
3. –ë–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü –≤—ã–ø—É—Å—Ç–∏–ª–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ ***Penguin Books*** - **42** –∫–Ω–∏–≥–∏;
4. ***J.K. Rowling/Mary GrandPr√©*** - –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (—Ä–∞–≤–Ω–æ–π **4.28**) —Å—Ä–µ–¥–∏ –∫–Ω–∏–≥ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
5. –í —Å—Ä–µ–¥–Ω–µ–º, –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫, –ø–∏—à—É—Ç **24** –æ–±–∑–æ—Ä–∞.

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞1:</b>
    
–ü—Ä–∏–≤–µ—Ç!

–í –ø—É–Ω–∫—Ç–∞—Ö `3.3` –∏ `3.4` —Ä–µ—à–∏–ª –≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –¥–ª—è –≤—ã–≤–æ–¥–∞ –º–µ—Ç–æ–¥–æ–º `head()`, —á—Ç–æ–±—ã –Ω–µ —É—Å–ª–æ–∂–Ω—è—Ç—å –∑–∞–ø—Ä–æ—Å –±–µ–∑ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç–∏. –•–æ—Ç–µ–ª –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –≤ —Å–∞–º–æ–º –∑–∞–ø—Ä–æ—Å–µ `top 1`, –Ω–æ –∑–¥–µ—Å—å, –≤–∏–¥–∏–º–æ, —ç—Ç–∞ —Ñ—É–Ω–∫—Ü–∏—è –Ω–µ —Ä–∞–±–æ—Ç–∞–µ—Ç.

–°–ø–∞—Å–∏–±–æ –∑–∞ –ø—Ä–æ–≤–µ—Ä–∫—É!

</div>

<div class="alert alert-block alert-success">

    
### –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ä–µ–≤—å—é–µ—Ä–∞ v_2
    
–ê —Ç–µ–±–µ —Å–ø–∞—Å–∏–±–æ –∑–∞ –æ—Ç–ª–∏—á–Ω—ã–π –ø—Ä–æ–µ–∫—Ç!

TOP - —ç—Ç–æ –≤ MSSQL, –≤ Postgre - LIMIT, –≤ –∫–æ–Ω—Ü–µ –∑–∞–ø—Ä–æ—Å–∞))
    

    
</div>